@page
@model CodeAlongVerktygsboden.Pages.Admin.BookingAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.FromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.ToDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.ToDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Asset)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Asset.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
